extends template 
block stylesheets 
    link(rel="stylesheet" , type="text/css" , href="/css/roomListCss.css")

block main-content

    h1 Room list
       
    table 
        thead
            tr
                th Rooms
                
        tbody 
        .container1
         
            each room in roomsData
                tr
                   //p #{room.name}  
                   .roomData_card 
                    p.heading #{room.name}
                    p.card_text Area: #{room.roomsize} sq.ft.
                    p.card_text Price: #{room.price} CAD
                    p.card_text Amenities: 
                    ul  
                       each amenity in room.amenities
                        p.card_text #{amenity}



                